!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Proxies - #{params[:action].humanize}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if params[:controller] != "application"
      = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            %b#logo Proxies
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => "#{params[:action] == "home" ? "active" : ""}"}
              %a{:href => "/"} Home
            %li{:class => "#{params[:controller] == "tool" ? "active" : ""}"}
              = link_to "WireWrap Tool", tool_path, :class=> "navbar-link"
            %li{:class => "#{params[:controller] == "stl" ? "active" : ""}"}
              = link_to "STL Generator", stl_path, :class=> "navbar-link"

    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield
    %footer.footer.shadow
      .container
        %p.text-muted
          %a{:href => "/"}
            %b Proxies
          Adobe Systems 2015
